@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

span {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

/* Form */
input {
  display: inline-block;
  cursor: pointer;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #122659;
}

section {
  margin-bottom: 130px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 18px 35px 20px;
  border-radius: 35px;
}

.yellow-btn {
  background-color: #FFD787;
}

.blue-btn {
  background-color: #8DD9E5;
}

.pink-btn {
  background-color: #FEB9CC;
}

h2 {
  font-size: 36px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

.app {
  padding-top: 103px;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  position: fixed;
  z-index: 1;
  background-color: #e7e5e5;
  top: 0;
  left: 0;
  right: 0;
}
.header .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.header .header-wrapper .navig {
  display: flex;
  gap: 57px;
  align-items: center;
}
.header .header-wrapper .navig .nav-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header .header-wrapper .navig .header-logo img {
  min-width: 143px;
}

.hero {
  background-image: url("../../assets/images/babyphoto.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero .container {
  max-width: 931px;
}
.hero .hero-wrapper {
  padding: 136px 0 160px;
}
.hero .hero-wrapper .hero-title {
  font-family: "Rubik", sans-serif;
  font-size: 42px;
  margin-bottom: 15px;
}
.hero .hero-wrapper .hero-subtitle {
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}
.hero .hero-wrapper .hero-description {
  margin-bottom: 45px;
  max-width: 375px;
}

.footer {
  margin-top: auto;
  padding: 40px 0;
  background-color: #e7e5e5;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-rights {
  display: flex;
  gap: 5px;
}/*# sourceMappingURL=main.css.map */