.teachers {

  .teacher-wrapper {
    margin-bottom: 30px;
  }

  .container {
    max-width: 961px;
  }

  .teacher-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 57px;

    p {
      max-width: 350px;
    }
  }
}

@media (max-width: 798px) {
  .teachers {

    .teacher-header {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 57px;
      
      h2 {
        max-width: 277px;
      }
      // p {
      //   text-align: center;
      // }
    }
  }
}