.teachers {
  padding-bottom: 50px;
  .teacher-wrapper {
    margin-bottom: 30px;
  }

  .container {
    max-width: 961px;
  }

  .teacher-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 57px;

    p {
      max-width: 350px;
    }
  }
}
