.rocket {
  top: 50px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation: rocket-animation 20s linear infinite;
}

.rocket-img {
  width: 60px;
  display: inline-block;
  white-space: nowrap;
  transform: rotate(170deg);
}

@keyframes rocket-animation {
  0% {
    transform: translateX(-100%) translateY(-200%); /* Стартовая позиция */
  }
  100% {
    transform: translateX(100%) translateY(400%); /* Конечная позиция */
  }
}
