@keyframes rocket-animation {
  0% {
    transform: translate(100vw);
  }
  
  100% {
    transform: translate(-20vw);
  }
}

.rocket {
  position: absolute;
  top: 20px;
  overflow: hidden;
  white-space: nowrap;
  height: 70px;
  width: 130px;
  animation: rocket-animation 20s linear infinite;
  background-image: url('../../assets/icons/rocket.svg');
  background-repeat: no-repeat;
  background-size: contain;
}


