@keyframes rocket-animation {
  from {
    background-position: 0%;
  }
  
  to {
    background-position: 100%;
  }
}

.rocket {
  left: -136px;
  display: block;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 70px;
  animation: rocket-animation 20s linear infinite;
  background-image: url('../../assets/icons/rocket.svg');
  background-repeat: no-repeat;
}


