@import "../advantage/advantage";

.advantages {
  .container {
    max-width: 931px;
  }

  .advantages-title {
    text-align: center;
    margin-bottom: 50px;
  }

  .advantages-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 36% 35% 29%)
  }

  .advantage-column{
    display: flex;
    flex-direction: column;
    gap:130px;
  }

  .advantage-column:first-child {
    margin-top: 45px;
  }

  .advantage-column:last-child {
    margin-left: 20px;
  }
}