.metodology {
  position: relative;
  .container {
    max-width: 931px;
  }

  .metodology-wrapper {

    .metodology-title {
      text-align: center;
    }

    .metodology-title {
      margin-bottom: 80px;
    }

    .metodology-inner {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;

      .metodology-text {
        width: 40%;
      }

      .metodology-text-title {
        margin-bottom: 30px;
      }

      .metodology-text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .metodology {
  
    .metodology-wrapper {

      .metodology-title {
        text-align: center;
      }
  
      .metodology-title {
        margin-bottom: 50px;
      }
  
      .metodology-inner {
        justify-content: center;
  
        .metodology-text {
          width: 90%;
          text-align: center;
        }
      }
    }
  }
}