@import "../../assets/styles/variables";

.header {
  position: fixed;
  z-index: 5;
  background-color: $color-blue;
  top: 0;
  left: 0;
  right: 0;

  .header-navigation {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 40px 0;
    gap: 20px;

    .header-logo {
      min-width: 143px;
    }

    .header-nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-nav-list {
        display: flex;
        gap: 20px;
        align-items: center;

        a {
          padding-bottom: 5px;
          position: relative;
        }

        a::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: black;
          transition: width 0.3s;
        }

        a:focus::after {
          width: 100%;
        }
      }

      .header-phone a {
        display: inline-block;
        position: relative;
      }

      .header-phone a::before {
        content: "";
        position: absolute;
        height: 15px;
        width: 15px;
        left: -25px;
        top: 2px;
        background-image: url('../../assets/icons/Vector-tel.svg');
      }
    }
  }
}

@media (max-width: 768px) {

  .header {

    .header-navigation {
      display: flex;
      align-items: center;
      .header-logo {
        min-width: 143px;
      }

      .header-nav {
        position: fixed;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding: 0 45px 45px;
        top: -300px;
        left: 0;
        background-color: $color-blue;
        font-size: 24px;
        transition: all 0.4s;

        .header-nav-list {
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: start;
        }

        .header-phone a {
          padding-left: 30px;
        }
  
        .header-phone a::before {
          content: "";
          position: absolute;
          height: 20px;
          width: 20px;
          left: 0;
          top: 5px;
          background-image: url('../../assets/icons/Vector-tel.svg');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .header-nav.active {
        top: 100px;
      }
    }
  }
}

.mobileBtn {
  display: none;
  min-width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;

  img {
    height: 100%;
  }
}

.mobileBtn:hover {
  scale: 1.1;
}

@media (max-width: 768px) {
  .mobileBtn {
    display: inline-block;
    margin-right: 25px;
  }
}