@import "../../assets/styles/variables";

.footer {
  margin-top: auto;
  padding: 40px 0;
  background-color: $color-blue;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-rights {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 768px) {
  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 12px;
  }

  .footer-rights {
    justify-content: center;
    flex-wrap: wrap;
  }
}