@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@500&display=swap");

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: $text-color;
}

section {
  margin-bottom: 100px;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  font-size: 36px;
  font-family: "Rubik", sans-serif;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 14px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 45px;
  }
}

@media (max-width: 360px) {
  h2 {
    font-size: 22px;
  }
}